<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <link rel="stylesheet" href="../assets/bower_components/bootstrap/dist/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/style.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    
<div class="container">
    
    <div class="text-center">
      <h1>Sandbox</h1>
      <p></p>
    </div>
    
</div>

<div class="container draggableArea">
    
    <div class="draggable" draggable="true">
        <span class="minus">-</span> 
        <span class="number">1</span>
        <span class="plus">+</span>
    </div>
    
    <div class="droppable" draggable="true">
        <span class="number">0</span>
    </div>
    
</div>
<script src="../js/move.js" charset="utf-8"></script>    
<script src="../assets/bower_components/jquery/dist/jquery.js" charset="utf-8"></script>    
<script src="../assets/bower_components/bootstrap/dist/js/bootstrap.js" charset="utf-8"></script>    
</body>
</html>